{% extends "base.html" %} {% block body %}


<form id='school_name' action="127.0.0.1:8000/ajax_chart/" method="get">
<label for="school_name_selector">学校名:</label>
    <select id="school_name_selector" name="school_name">
        {% for school_name in school_names %}
        <option>
        {{ school_name }}
        </option>
        {% endfor %}
    </select>
</form>

<table>{{select_form.as_table}}</table>

<button type="button" id="decide">送信</button>

<div id="result">
  <img class="img" src="">

  <div id="table">
  </div>

</div>





<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

<script>
  $(function() {
    $("#decide").click(function() {
      $.ajax({
        url: "http://127.0.0.1:8000/record/ajax_chart/",
        type: "GET",
        data: {
          'school_name': $('#school_name_selector').val(),
          'year': $('#id_year').val(),
          'style': $('#id_style').val(),
          'distance': $('#id_distance').val(),
          'sex': $('#id_sex').val(),
        },
        dataType: 'json',
        success: function(response) {
          var image_src = 'data:image/png;base64,' + response.image;
          $('.img').attr('src', image_src);
          // $('.img').fadeIn(800);
          $('#table').html(response.table);
        },
        failure: function(responce) {
          alert('Got an error dude');
        },
      });
    });
    return false;
  });
</script>

{% endblock %}
