{% extends "base.html" %} {% block body %}

<div class="row">

    <div class="col-sm-2">
      <form id='school_name' action="127.0.0.1:8000/ajax_chart/" method="get">
        <label for="school_name_selector">学校名:</label>
        <select id="school_name_selector" name="school_name" class="custom-select">
            {% for school_name in school_names %}
            <option>
            {{ school_name }}
            </option>
            {% endfor %}
        </select>
      </form>
      <table class="table table-striped">{{select_form.as_table}}</table>
      <button type="button" id="decide" class="btn btn-primary">送信</button>
    </div>

    <div id="result" class="col-sm-5">
      <img class="img" src="">
    </div>

    <div id="table" class="table-sm table-striped col-sm-4">
    </div>

  </div>

{% endblock %}



<!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->

{% block script %}

<script>
  $(function() {
    $("#decide").click(function() {
      $.ajax({
        url: "http://127.0.0.1:8000/record/ajax_chart/",
        type: "GET",
        data: {
          'school_name': $('#school_name_selector').val(),
          'year': $('#id_year').val(),
          'style': $('#id_style').val(),
          'distance': $('#id_distance').val(),
          'sex': $('#id_sex').val(),
        },
        dataType: 'json',
        success: function(response) {
          var image_src = 'data:image/png;base64,' + response.image;
          $('.img').attr('src', image_src);
          // $('.img').fadeIn(800);
          // response.table.attr('id', 'table1');



          $('#table').html(response.table);
          $('.dataframe').attr('id', 'table1');
          $('#table1').DataTable();
        },
        failure: function(responce) {
          alert('Got an error dude');
        },
      });
    });
    return false;
  });
</script>

{% endblock %}
