<!DOCTYPE html>
<html lang='ja'>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="normalize.css">
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="styles.css">
  <title>Swim Rcord Analytics</title>
</head>

<body>
  <header>
    <div class="container">
      <p>
        スイムレコードからパクったデータを、<br> なんか良い感じのグラフで描写。</p>
      <h1>Swim Record Analytics</h1>
      <a class="btn" href="#">やってみる</a>
    </div>
  </header>

  <section class="featurs">
    <h2>Swim Swim Swim</h2>
    <div class="container">
      <div class="row">
        <img src="img/kikuta1.png" width="300" height="400" alt="kikuta!" class="shadow">
        <div class="desc pull-right">
          <h3>すごい、菊田！</h3>
          <p>すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！</p>
        </div>
      </div>
    </div>
  </section>

  <section class="voices">
    <h2>Reord Record Record</h2>
    <div class="container">
      <div class="row">
        <img src="img/sanai1.jpg" width="300" height="400" alt="sanai!" class="shadow">
        <div class="desc pull-left">
          <h3>すごい、さない！</h3>
          <p>すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！</p>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action">
    <h2>Aoyama Aoyama Aoyama</h2>
    <div class="container">
      <div class="row">
        <img src="img/banana.png"
        width="400" height="300"
        alt="banana!" >
        <div class="desc pull-right">
          <h3>バナナだよ。</h3>
          <p>すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！すごいよ！</p>
        </div>
      </div>
    </div>
  </section>

<footer>
  <p>otninast38.inc</p>
</footer>

</body>

</html>
