{% extends 'base.html' %}
{% block body %}
<body>

    <form method="post" action="{% url 'input_data' %}" id="form">
      {% csrf_token %}
      {{form.date}}<br>
      メニュー:{{form.menue_name}}   スタイル:{{ form.style }}   距離:{{ form.distance }}m
      {{form.user}}

      <ol id="result">
        <li class="form"><table>
          <td>{{form2.time_minutes}}</td>
          <td>{{form2.time_seconds}}</td>
          <td>{{form2.time_seconds_micro}}</td>
        </table></li>
      </ol>

      <button type="button" id="one_more" class="btn">one more</button><br>
      <input type="submit" class="btn" value='submit'/>
    </form>

</body>

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

<script>
  $(function() {
    $('#one_more').on('click', function(){
      var lastform = $('#result > li:last').clone(true);
      $('#result').append(lastform);

    });
  });
</script>

{% endblock %}
