{% extends "base.html" %}
{% block body %}

<form method="post" action="{% url 'create' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors.username }}

    <h1><label>Name:     </label>
    {{ form.username }}<br></h1>

    <h1><label>Password: </label>
    {{ form.errors.password1 }}
    {{ form.password1 }}<br></h1>

    <h1><label>Again:    </label>
    {{ form.errors.password2 }}
    {{ form.password2 }}<br></h1>

    <input type="submit" value="Create">
</form>

{% endblock %}
