{% extends "base.html" %} {% block body %}

<div class="row justify-content-center">
<div class="card">
  <div class="card-header">
    <h5>User Create</h5>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <form id="form" method="post" action="{% url 'create' %}">
        {% csrf_token %}
        <table class="table-bordered table-striped form-group text-nowrap">
          {{ form.as_table }}
          {{ user_info_form.as_table }}
        </table>
        <input type="submit" class="btn btn-success" value="create" />
      </form>
    </div>
  </div>

</div>
</div>

{% endblock %}
