{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Opinion Box</title>
  <link rel="stylesheet" href="{% static 'opinion_box.css' %}">
</head>

<body>
  <!-- <form id="form" action="" method="post"> -->

  <div class="container">

    <div class="input-area">

      <label for="name">Name:</label><br>
      <input type="text" id="name" placeholder="Name"><br>


      <label>Sex:</label><br>
      <select id="sex">
        <option value="Default" selected>---</option>
        <option value="Man">Man</option>
        <option value="Woman">Woman</option>
        <option value="Other">Other</option>
      </select>

      <div id="theme">
        <label for="Tags">Select your theme:</label><br>
        <input type="checkbox" class="checkbox" name="check[]" value="ADHD">ADHD
        <input type="checkbox" class="checkbox" name="check[]" value="ASD">ASD
        <input type="checkbox" class="checkbox" name="check[]" value="LD">LD
        <input type="checkbox" class="checkbox" name="check[]" value="AC">AC
        <input type="checkbox" class="checkbox" name="check[]" value="LGBT">LGBT
        <br>
      </div>




      <label for="msg">Message:</label><br>
      <textarea id="msg" placeholder="Please write your opinion here."></textarea>

      <div id="btn">Submit</div>

      <div class="msg2">
        <p id="msg2">Your information and massege length.</p>
      </div>

    </div>

    <!-- </form> -->


    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <script>
      $(function() {
        var base_time = Date.now();
        var index = 0;

        var get_info = setInterval(function() {
          index = index + 1;
          var count_time = Date.now();
          var themes = [];
          $('[name="check[]"]:checked').each(function() {
            themes.push(this.value);
          });

          $.ajax({
            url: 'http://127.0.0.1:8000/record/opinion_box_ajax/',
            type: 'GET',
            dataType: 'json',
            data: {
              'index': index,
              'name': $('#name').val(),
              'sex': $('#sex').val(),
              'msg': $('#msg').val(),
              'theme': themes,
              'time': count_time - base_time
            },
            success: function(res) {
              $("#msg2").append('<p class="add"></p>').text(res.name + ' ### ' + res.sex + ' ### ' + res.leng + ' ### ' + res.theme);
            }
          })
        }, 2500);

        $('#btn').click(function() {
          clearInterval(get_info);
          $.ajax({
            url: 'http://127.0.0.1:8000/record/opinion_box_result/',
            type: 'GET',
            success: function(res) {
              $('#msg2').append($('<img>', {
                src: 'data:image/png;base64,' + res.image
              }));
              },
            })
          });
        });

    </script>

</body>

</html>
