


<div class="content-fluid mb-5">
  <div class="row justify-content-center">

    <div class="card">

      <div class="card-header">
        <h5>練習のタイムを記録</h5>
      </div>

      <div class="card-body">
        <form method="post" action="" id="form">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  {% csrf_token %}
                  <label for="id_date">日付:</label>
                  {{daymenu_form.date}}<br>
                  <div class="input-group input-group form-inline mt-3">
                    <label for="id_menue_name">メニュー:</label> {{ trainingmenu_form.menu_name }}
                    <label for="id_style">スタイル:</label> {{ trainingmenu_form.style }}
                    <label for="id_distance">距離:</label> {{ trainingmenu_form.distance }}
                    <strong>m</strong>
                  </div>

                  <hr class="my-3">

                  <ol id="result">
                    <li class="form mt-3">
                      <div class="form form-row form-inline result_time">
                        <label for="id_m_10">&nbsp本目&nbsp</label>
                        <div class="input-group">{{result_time_form.m_10}}{{result_time_form.m_1}}</div>
                        <label for="id_s_10">&nbsp:&nbsp</label>
                        <div class="input-group">{{result_time_form.s_10}}{{result_time_form.s_1}}</div>
                        <label for="id_ms_10">&nbsp:&nbsp</label>
                        <div class="input-group">{{result_time_form.ms_10}}{{result_time_form.ms_1}}</div>
                        <div>&nbsp&nbsp{{result_time_form.rest}}</div>
                      </div>
                    </li>
                  </ol>
                  <button type="button" id="one_more" class="btn btn-secondary">one more</button><br>
                </div>
                <div class="col">
                  {{daymenu_form.score}}
                  {{daymenu_form.reflection}}
                  <input type="submit" class="btn btn-primary mt-3" value='submit' />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
